<ul class="grid">
    <%products.forEach(function(item){%>
        <li class="g-item" data-pid="<%=item.pid%>" data-name="<%=item.name%>">
            <a class="g-item-wrap" href="./product?pid=<%=item.pid%>">
                <div class="p-img">
                    <img src="<%=item.image_thumbnail%>" alt="">
                </div>
                <div class="p-price">
                    <strong>$<%=item.price%></strong>
                </div>
                <div class="p-des mult-line-ellipsis">
                    <%=item.description%>
                </div>
                <div class="p-tools">
                    <ul class="tags">
                        <li>
                            <em>新品</em>
                        </li>
                        <li>
                            <em>打折</em>
                        </li>
                    </ul>
                    <input class="btn btn-add" type="button" value="addToCart" />
                </div>
            </a>
        </li>
    <%})%>
</ul>